<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.foodcode.mapper.BookingMapper">
	<insert id="insertBooking">
		<selectKey keyProperty="booking_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(booking_idx), 0) FROM booking
		</selectKey>
		INSERT 
		INTO booking
		VALUES(
		null
		,#{booking_date}
		,#{booking_time}
		,#{booking_num}
		,#{booking_seat}
		,#{booking_content}
		,#{store_idx}
		,#{member_id}
		,#{merchant_uid}
		)
	</insert>

	<select id="bookingList" resultType="map">
		SELECT m.member_name
		, m.member_phone
		, b.booking_date
		, b.booking_time
		, b.booking_num
		, b.booking_seat
		, b.booking_content
		FROM booking b JOIN member m 
		ON b.member_id = m.member_id
		WHERE b.merchant_uid = #{merchant_uid};
	</select>
	

	<select id="selectMerchantUid"  resultType="string">
		SELECT
			b.merchant_uid
			FROM booking b JOIN store s
			ON b.store_idx = s.store_idx
			WHERE b.booking_idx = #{booking_idx}
	</select>
	
	<insert id="insertPayList">
		INSERT 
		INTO pay
		VALUES(
		#{merchant_uid}
		,#{pay_price}
		,now()
		,#{id}
		)
	</insert>
	
	<select id="bookingSeatCheck" resultType="int">
		select IFNULL(sum(b.booking_num),0) 
		from store s join booking b 
		on s.store_idx = b.store_idx 
		where s.store_idx = #{store_idx } and b.booking_date = #{booking_date } and b.booking_time = #{booking_time };
		
	</select>
	
	
	<select id="getStore_maxps"	resultType="int">
		select store_maxps
			from store
				where store_idx = #{store_idx}
	</select>
	
	
</mapper>
