<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.foodcode.mapper.CustomerMapper">
	<insert id="insertMember">
		<selectKey keyProperty="member_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(member_idx), 0) FROM member
		</selectKey>
		INSERT 
		INTO member
		VALUES(
		#{member_idx}+1
		,'c'
		,#{member_name}
		,#{member_id}
		,#{member_passwd}
		,#{member_phone}
		,#{member_email}
		,#{member_birth}
		,#{member_gender}
		,concat(YEAR(now()),"-",month(now()),"-",DAY(now()))
		)
	
	</insert>
	
	<insert id="insertKakaoMember">
		<selectKey keyProperty="member_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(member_idx), 0) FROM member
		</selectKey>
		INSERT 
		INTO member
		VALUES(
		#{member_idx}+1
		,#{member_type}
		,#{member_name}
		,#{member_id}
		,#{member_passwd}
		,#{member_phone}
		,#{member_email}
		,#{member_birth}
		,#{member_gender}
		,concat(YEAR(now()),"-",month(now()),"-",DAY(now()))
		)
	
	</insert>
	
	<select id="isSuccessMember" parameterType="String" resultType="boolean">
	SELECT IF(COUNT(*) = 1, 1, 0)
	FROM member
	WHERE member_id = #{member_id} AND member_passwd = #{member_passwd}
	</select>
	
	<select id="selectMember" resultType="com.itwillbs.foodcode.vo.MemberVO">
		SELECT 
		 member_idx
		,member_type
		,member_name
		,member_id
		,member_passwd
		,member_phone
		,member_email
		,member_birth
		,member_gender
		,member_join_date
		FROM member
		WHERE member_id = #{sId}
	</select>
	
	<update id="modifyMember">
		UPDATE member
		SET 
		    member_email = #{member.member_email}
		  , member_phone = #{member.member_phone}
		  <if test="!modifyMember.equals('') and modifyMember != null">
		  , member_passwd = #{modifyMember}
		  </if>
		WHERE member_id = #{sId}
	
	</update>
	
	<delete id="deleteMember">
		DELETE 
		FROM member
		WHERE member_id = #{sId}
	</delete>
	
	<select id="getPasswd" resultType="string">
		SELECT member_passwd
			FROM member
				WHERE member_id = #{member_id}
	</select>
	<select id="getPassword" resultType="string">
	SELECT member_passwd
			FROM member
				WHERE member_id = #{sId}
	</select>
	
	<select id="bookingList" resultType="map">
		SELECT b.booking_idx
		,s.store_name 
		, b.booking_date
		, b.booking_time
		, b.booking_num
		, b.booking_seat
		, b.booking_content
		, b.store_idx
		, b.member_id 
		, b.merchant_uid
		FROM booking b JOIN store s 
		ON b.store_idx = s.store_idx 
		WHERE b.member_id = #{sId} AND concat(b.booking_date, " " ,b.booking_time) &gt; now()
		ORDER BY booking_idx DESC;
	</select>
	
	<select id="selectMyReview" resultType="map">
		SELECT r.review_idx
		, s.store_name
		, r.review_star
		, r.review_date
		FROM review r JOIN store s ON s.store_idx = r.store_idx 
		WHERE r.member_id = #{sId}
	</select>
	
	<select id="afterBookingList" resultType="map">
		SELECT b.booking_idx
		,s.store_name 
		, b.booking_date
		, b.booking_time
		, b.booking_num
		, b.booking_seat
		, b.booking_content
		, b.store_idx
		, b.member_id 
		, b.merchant_uid
		FROM booking b JOIN store s 
		ON b.store_idx = s.store_idx 
		WHERE b.member_id = #{sId} AND concat(b.booking_date, " " ,b.booking_time) &lt; now()
	</select>
	
	<delete id="customerBookingCancle">
	DELETE FROM booking where booking_idx = #{booking_idx}
	</delete>
	
	<select id="isDuplicateMember" parameterType="String" resultType="boolean">
	SELECT IF(COUNT(*) = 1, 1, 0)
	FROM member
	WHERE member_id = #{member_id}
	</select>
	
	<select id="isDupilcateMemberEmail" parameterType="String" resultType="boolean">
	SELECT IF(COUNT(*) = 1, 1, 0)
	FROM member
	WHERE member_email = #{member_email}
	</select>
	
	<select id="joinPerson" resultType="String">
	SELECT member_id
		FROM member
			WHERE member_email = #{email}
	</select>
	
	<select id="findId" resultType="String">
	SELECT member_id
		FROM member
			WHERE member_phone = #{member_phone} AND member_name = #{member_name}
	</select>
	
	
</mapper>
