<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.foodcode.mapper.NoticeMapper">


		<!-- 공지사항 글등록작업을 위한 <insert> 태그 -->
<!-- 		insert into notice values(1, '제목입니다', '공지사항내용', now(), '파일'); -->
		<insert id="insertNotice">
			<selectKey keyProperty="notice_idx" resultType="int" order="BEFORE">
	 			SELECT IFNULL(MAX(notice_idx), 0) FROM notice
	 		</selectKey>
	 		
			INSERT
				INTO notice
				VALUES (
					#{notice_idx} + 1
					,#{notice_title}
					,#{notice_content}
					,now()
					,#{notice_file}
					,'파일경로하드코딩'
				)
		
		</insert>
		
		
		
		<!-- 공지사항 리스트 출력을 위한 <select>태그 -->
		<select id="selectNoticeList" resultType="com.itwillbs.foodcode.vo.NoticeVO">
			SELECT *
		 		FROM notice
		 		ORDER BY notice_idx DESC;
		</select>
		
		
		
		<!-- 공지사항 상세페이지에 출력을 위한 <select> 태그 -->
		<select id="selectNotice" resultType="com.itwillbs.foodcode.vo.NoticeVO">
			SELECT *
					FROM notice
					WHERE notice_idx = #{notice_idx};
		
		</select>
		
		
		<!-- 공지사항 수정페이지로 갔을 때 수정 전 파라미터값 보여지게 해주는 <select> 태그 -->
		<select id="selectNoticeBeforeModify" resultType="com.itwillbs.foodcode.vo.NoticeVO">
			SELECT
				notice_title
				,notice_content
				,notice_file
			FROM notice
			WHERE notice_idx = #{notice_idx};
		</select>


		<!-- 공지사항 수정을 위한 <update>태그 -->
		<update id="updateNotice">
			UPDATE notice
				SET
				   notice_title = #{notice_title}
				  ,notice_content = #{notice_content}
				  ,notice_file = #{notice_file}
				WHERE notice_idx = #{notice_idx};
		</update>


		<!-- 공지사항 삭제를 위한 <delete>태그 -->
		<delete id="deleteNotice">
			DELETE 
				FROM notice
				WHERE notice_idx = #{notice_idx};
		</delete>



	




</mapper>