<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.foodcode.mapper.OwnerMapper">

	<!-- 점주 회원가입 -->
	<insert id="insertOwner">
	
		<selectKey keyProperty="member_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(member_idx), 0) FROM member 
 		</selectKey>
 		
		INSERT
			INTO member
			VALUES (
				#{member_idx} + 1
				,'o'
				,#{member_name}
				,#{member_id}
				,#{member_passwd}
				,#{member_phone}
				,#{member_email}
				,#{member_birth}
				,#{member_gender}
				,now()
			)
	</insert>
	
	<select id="isSuccessOwner" parameterType="String" resultType="boolean">
		SELECT IF(COUNT(*) = 1, 1, 0)
			FROM member
			WHERE member_id = #{member_id} AND member_passwd = #{member_passwd}
	</select>
	
	<select id="getMemberInfo" resultType="com.itwillbs.foodcode.vo.MemberVO">
		SELECT *
			FROM member
			WHERE member_id = #{member_id}
	</select>
	
	<select id="selectMember" resultType="com.itwillbs.foodcode.vo.MemberVO">
		SELECT 
			 member_idx
			,member_type
			,member_name
			,member_id
			,member_passwd
			,member_phone
			,member_email
			,member_birth
			,member_gender
			,now()
		FROM member
		WHERE member_id = #{sId}
	</select>
	
	<!-- session 패스워드와 회원 패스워드 일치하는지 조회 -->
	<select id="getPasswd">
	SELECT member_passwd
			FROM member
				WHERE member_id = #{sId}
	</select>
	
	<!-- 점주 회원 정보 수정 -->
	<update id="modifyMember">
		UPDATE member
		SET 
		    member_email = #{member.member_email}
		  	,member_phone = #{member.member_phone}
		  	,member_passwd = #{newPasswd}
		WHERE member_id = #{sId}
	</update>
	
	<!-- 점주 가게 갯수 조회 -->
	<select id="countStore">
		SELECT count(*)
			FROM store
			WHERE member_id = #{sId}
	</select>
	
	<!-- 점주 가게 정보 조회 -->
	<select id="selectStore"  resultType="com.itwillbs.foodcode.vo.StoreVO">
		SELECT *
			FROM store
			WHERE member_id = #{sId};
	</select>
	
	<!-- 점주 마이페이지에서 예약 목록 조회 -->
<!-- 	<resultMap type="com.itwillbs.foodcode.vo.StoreVO" id="storeVO"> -->
<!-- 		<result column="store_name" property="storeName" /> -->
<!-- 		<result column="store_id" property="storeId" /> -->
<!-- 	</resultMap> -->
<!-- 	<resultMap type="com.itwillbs.foodcode.vo.BookingVO" id="bookingVO"> -->
<!-- 		<result column="booking_idx" property="bookingIdx" /> -->
<!-- 		<result column="booking_date" property="bookingDate" /> -->
<!-- 		<result column="booking_time" property="bookingTime" /> -->
<!-- 		<result column="booking_num" property="bookingNum" /> -->
<!-- 		<result column="booking_seat" property="bookingSeat" /> -->
<!-- 		<result column="booking_content" property="bookingContent" /> -->
<!-- 		<result column="store_idx" property="storeIdx" /> -->
<!-- 		<collection property="storeVO" resultMap="storeVO" /> -->
<!-- 	</resultMap> -->
	<select id="showBooking" resultType="hashmap">
		SELECT 
			b.booking_idx
			,b.booking_date
			,b.booking_time
			,b.booking_num
			,b.booking_seat
			,b.booking_content
			,s.store_name
			,m.member_name
			,m.member_phone
			FROM 
				store s JOIN booking b
			ON
				s.store_idx = b.store_idx
			JOIN
				member m
			ON
				b.member_id = m.member_id
			WHERE 
				s.member_id = #{id}
				AND b.booking_date = #{clickedYMD}
	</select>
	
	<!-- 점주 가게 정보 수정 - 가게 조회 -->
	<select id="getStore"  resultType="com.itwillbs.foodcode.vo.StoreVO">
		SELECT *
			FROM store
			WHERE store_idx = #{store_idx}
	</select>
	
	<!-- 점주 가게 정보 수정 - 업체사진 삭제 -->
	<update id="deleteStoreFile">
		UPDATE store
			SET
				store_file = ''
				,store_file_path = ''
			WHERE
				store_idx = #{store_idx}
	</update>
	
	<!-- 점주 가게 정보 수정 -->
	<update id="modifyStore">
		UPDATE store
			SET 
				store_name = #{store_name}
				,store_phone = #{store_phone}
				,store_address = CONCAT(#{store_address1}, ' ', #{store_address2})
				,store_type = #{store_type}
				,store_content = #{store_content}
				,store_open = #{store_open}
				,store_close = #{store_close}
				,store_maxps = #{store_maxps}
				,store_license = #{store_license}
				,store_etc = #{store_etc}
				<if test="store_file != null and !store_file.equals('')">
					,store_file = #{store_file}
				</if>
				<if test="store_file != null and !store_file.equals('')">
					,store_file_path = #{store_file_path}
				</if>
			WHERE
				store_idx = #{store_idx}
				
	</update>
	
	<!-- 점주 가게 삭제 -->
	<delete id="deleteOwnerStore">
		DELETE store, booking, review, menu, report
			FROM store 
				LEFT JOIN booking 
					ON store.store_idx = booking.store_idx
				LEFT JOIN review
					ON store.store_idx = review.store_idx
				LEFT JOIN menu 
					ON store.store_idx = menu.store_idx
				LEFT JOIN report 
					ON store.store_idx = report.store_idx
			WHERE store.store_idx = #{store_idx}		
	</delete>
	
	<!-- 점주 마이페이지에서 예약 삭제 -->
	<delete id="deleteBooking">
		DELETE
			FROM booking
			WHERE booking_idx = #{booking_idx}
	</delete>
		
	
</mapper>
