<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.foodcode.mapper.ReportMapper">


	<!-- 가게신고양식 INSERT 태그 -->
	<insert id="insertStoreReport">
		<selectKey keyProperty="report_idx" resultType="int" order="BEFORE">
	 			SELECT IFNULL(MAX(report_idx), 0) FROM report
	 		</selectKey>
	 		
			INSERT
				INTO report
				VALUES (
					#{report_idx} + 1
					,#{report_content}
					,1
					,#{store_idx}
				)
	</insert>
	
	
	<select id="selectReportList" resultType="map">
		SELECT r.report_idx, s.store_name, s.store_idx, r.report_content
			FROM store s 
				JOIN report r  ON s.store_idx = r.store_idx
					ORDER BY r.report_idx DESC;
	</select>

</mapper>