@charset "UTF-8";

/* 달력 */

.mb-0 { /*폰트수정*/
		font-family: 'Noto Sans KR', sans-serif;
}

.text-white {
	font-family: 'Noto Sans KR', sans-serif;
}

.btn btn-primary btn-block {
	font-family: 'Noto Sans KR', sans-serif;
}
.icon {
	margin-bottom: 10px;
	margin-right: 5px;
	float: left;
	width: 100%;
	display: inline-block;
	vertical-align: text-top;
}
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

/*          body {   */
/*          	background-color : white;   */
/*         	height: auto; */
/*             width: 400px; */
/*          }   */

/*           div {   */
/*              background-color : white;  */
/*             height: auto; */
/*             width: 400px; */
/*             margin: 0px; */
/*             padding: 20px; */
/*             margin: 0 auto; */
/*             border-radius:5px; */
/* /*             box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3); */ */
/*          }  */

td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 15px solid #f9f9f9;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;     
}

.Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}        

.pastDay {
    color: lightgray;
}

.today {
    background-color: #ff9507;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    background-color: #f9f9f9;
    cursor: pointer;
}
.futureDay:hover{
    background:#eee;
}

.futureDay.choiceDay,
.today.choiceDay {
    background: #ff6e07;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}




/*가게 리스트*/
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #edf2f9;
    border-radius: 0.375rem;
}
.card-header {
   padding: 1rem 1.25rem;
   margin-bottom: 0;
   background-color: #fff;
   border-bottom: 0 solid #ff9507
	}
.card-body {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 1.25rem;
}
.border-bottom {
   border-bottom: 1px solid #d8e2ef!important
}
.btn {
    text-transform: uppercase;
    padding: 0.3125rem 3.25rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
}
.btn-link {
    font-weight: 400;
    color: #ffc554;
    text-decoration: none;
}
.p-0 {
    padding: 0!important;
}



/* 사이드바 */
.sidemenu {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 431px;
    background-color: #ffc554;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}
.sidemenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidemenu a, .sidemenu > label {
    display: block;
    height: 34px;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.sidemenu a:hover {
    color: #ffc554;
}
.sidemenu ul li:hover, .sidemenu > label:hover {
    background-color: #fff;
    color: #ffc554;
    border-radius: 10px;
}
.sidemenu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-sidemenu {
    display: none;
}
/* #expand-sidemenu:checked ~ ul { */
/*     display: block; */
/*     height: auto; */
/* } */
#expand-sidemenu:checked ~ ul {
display: none;
}

#expand-sidemenu:not(:checked) ~ ul {
display: block;
height: auto;
}
.sidemenu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.sidemenu label::before{ content: '\e5d2'; }
.sidemenu li:nth-child(1){}
.sidemenu li:nth-child(2){}
.sidemenu li:nth-child(3){}
.sidemenu li:nth-child(4){}
.sidemenu li:nth-child(5){}
.sidemenu li:nth-child(6){}

@media screen and (max-width:1023px) {
    .sidemenu {
        width: 60px;
    }
}
@media screen and (max-width:560px) {
    .sidemenu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}