@charset "UTF-8";
.review_star {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.review_star input {
  display: none;
}
.review_star label {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}
.review_star input:checked ~ label {
  color: orange;
}




